<% provide(:title, "Log in") %>
<h2 class="text-info">Log In</h2>
<br />
<div class="row">
  <div class="col-md-12 form-inline">
    <%= form_for(:session, url: login_path) do |f| %>
		
      <%= f.email_field :email, class: 'form-control', placeholder: 'Email' %>
		<br /><br />
		
      <%= f.password_field :password, class: 'form-control', placeholder: 'Password' %>
		<br /><br />
		
      <%= f.submit "Log in", class: "btn btn-primary" %>
    <% end %>
	<br />
    <h4>New user? <%= link_to "Sign up now!", signup_path %></h4>
  </div>
</div>