<% provide(:title, 'Sign up') %>
<h2 class="text-info">Sign Up</h2>
<br />

<div class="row">
  <div class="col-md-12 form-inline">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages' %>

      <%= f.text_field :name, class: 'form-control', placeholder: 'Name' %>
		<br /><br />
		
      <%= f.email_field :email, class: 'form-control', placeholder: 'Email' %>
		<br /><br />
		
      <%= f.password_field :password, class: 'form-control', placeholder: 'Password' %>
		<br /><br />
		
      <%= f.password_field :password_confirmation, class: 'form-control', placeholder: 'Confirm Password' %>
		<br /><br />
		
      <%= f.submit "Sign Up", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>