<br />

<h3>Profile</h3>
<div class="row view-section">
  <div class="col-md-1">
    <h4><strong>Name: </strong></h4>
  </div>
  <div class="col-md-11">
    <h4><%= @user.name %></h4>
  </div>
</div>
<br />
<div class="row">
  <div class="col-md-1">
    <h4><strong>Email: </strong></h4>
  </div>
  <div class="col-md-11">
    <h4><%= @user.email %></h4>
  </div>
</div>

<br />
<br />
<br />


<% if @user.favorites.empty? %>
    <strong>No products added. Add products now!.</strong>
<% else %>
    <h3>Favorites</h3>
    <% @user.favorites.each do |fav| %>
        <div class="row view-section">
          <div class="col-sm-3">
            <%= image_tag fav.product.photo_file_name, size:"200x200" %>
          </div>
          <div class="col-sm-9 view-section-details">
            <h3><%= link_to fav.product.name, fav.product %></h3>
            <p class="text-danger"><strong><%= number_to_currency(fav.product.price) %></strong></p>
            <p class="text-muted"><%= fav.product.description %></p>
            <%= link_to 'dislike it!', favorite_path(fav), method: 'delete' %>
          </div>
        </div>
    <% end %>
<% end %>


<br /><br />
<%= link_to "Log out", logout_path, method: "delete" %> |
<%= link_to "Back", products_path%>

