	<link rel="stylesheet" href="../css/star-rating.min.css" />
	<script src="../scripts/star-rating.min.js" type="text/javascript"></script>

	<% if notice %>
		<p id="notice"><%= notice %></p>
	<% end %>

	<div class="row">

		<div class="col-sm-3">
		<h3>Search:</h3>
		</div>

		<div class="col-sm-6 view-section-details">

		<h3>
			<%= form_tag products_path, :method => :get do %>
				<div class="input-group ui-widget">
				<%= text_field_tag :search, params[:search], :class => "form-control", :id =>	"search-results-text" %>
				<span class="input-group-btn">
								<%= submit_tag "Search", :name => nil, :class => "button postfix btn btn-default", :id => "btn-search-product" %>
								</span>
				</div>
			<% end %>
		</h3>
		</div>
		<div class="col-sm-3 view-section-details">
			<h3 class="pull-right">
				<button class="btn btn-default btn-primary" id="btn-compare">Compare</button>
				<%= link_to 'New Product', new_product_path, :class => 'button btn btn-default' %>
			</h3>
		</div>
	</div>
	
	<% cache(cache_key_for_product_table) do %>
	
	<% if @products.empty? %>
		<div class="row view-section">
			<div class="col-sm-12">
				No products found. Please change search criteria and try again.
			</div>
		</div>
	<% else %>
		<% @products.each do |product| %>
			<% cache(cache_key_for_product_row(product)) do %>
			
			<div class="row view-section">
				<div class="col-sm-3">
					<%= image_tag product.photo_file_name, size:"200x200", :class => "txt-product-pic" %>
				</div>
				<div class="col-sm-9 view-section-details">
					<h3 class="txt-product-name"><%= link_to product.name, product %></h3>
					<p class="text-danger txt-product-price"><strong><%= number_to_currency(product.price) %></strong></p>
					<p class="text-muted txt-product-description"><%= product.description %></p>
					<p class="text-warning txt-category"><%= product.category %></p>
					<input value=<%= product.rating %> type="number" class="rating txt-product-rating" data-min=0 data-max=5 data-step=0.5 data-size="xs">
					<% if !current_user.find_product(product.id) %>
						<%= link_to 'Like', favorites_path(product_id: product), method: 'post'%>
					<% else %>
						<%= link_to 'Remove like', favorite_path(current_user.like_product(product.id)), method: 'delete' %>
					<% end %>
					&nbsp;(<span class="txt-product-likes"><%= product.favorites.count %> likes</span>)&nbsp;|&nbsp;
					<%= link_to 'Add to Cart', line_items_path(product_id: product), method: 'post'%>&nbsp;|&nbsp;
					<label style="font-weight: normal;">
						<input style="position: relative; top: 2px;" type="checkbox" class="product-compare" data-product-id="<%= product.id %>"/>
						Compare
					</label>
					
			</div>
			
			<% end %>
			</div>
		<% end %>
		<div class="row view-section text-center">
		<%= will_paginate(@products) %>
		</div>
	<% end %>
	<% end %>

	<script>
		$("#btn-compare").off("click");
		$("#btn-compare").click(function (event) {
			var $selected = $(".product-compare:checked");
			
			if($selected.length < 2) {
				alert("Please select two or more products to compare.");
				return;
			} else if($selected.length > 3) {
				alert("Only upto 3 products can be compared at once.");
				return;
			}
			
			var $compareTable;
			$("#compare-modal .compare-2").addClass("hide");
			$("#compare-modal .compare-3").addClass("hide");
			
			if($selected.length == 2)
				$compareTable = $("#compare-modal .compare-2");
			else
				$compareTable = $("#compare-modal .compare-3");
			
			$compareTable.removeClass("hide");
			
			var index = 1;
			$selected.each(function () {
				var $row = $(this).closest(".row");
				
				$compareTable.find(".product-name th:nth-child(" + index + ")").text($row.find(".txt-product-name").text());
				$compareTable.find(".product-pic td:nth-child(" + index + ") img").attr("src", $row.find(".txt-product-pic").attr("src"));
				$compareTable.find(".product-price td:nth-child(" + index + ")").text($row.find(".txt-product-price").text());
				$compareTable.find(".product-ratings td:nth-child(" + index + ")").text($row.find(".txt-product-rating").val());
				$compareTable.find(".product-likes td:nth-child(" + index + ")").text($row.find(".txt-product-likes").text());
				$compareTable.find(".product-description td:nth-child(" + index + ")").text($row.find(".txt-product-description").text());
				
				index++;
			});
			
			$("#compare-modal").modal('show');
		});
	</script>
	
	<style>
		#compare-modal table {
			width: 98%;
		}
			
		#compare-modal tr td, #compare-modal tr th {
			padding: 10px;
		}
		
		#compare-modal .compare-2 tr td, #compare-modal .compare-2 tr th {
			width: 50%;
		}
		
		#compare-modal .compare-3 tr td, #compare-modal .compare-3 tr th {
			width: 33%;
		}
		
		#compare-modal .product-pic td {
			text-align: center;
			font-size: 12px;
		}
		
	</style>
	
	<div id="compare-modal" class="modal fade">
		<div style="min-width: 90%" class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title">Compare Products</h4>
				</div>
				<div class="modal-body">
					<table class="compare-2 table-bordered">
						<tr class="product-name">
							<th></th>
							<th></th>
						</tr>
						<tr class="product-pic">
							<td><img src="" width="150px" height="150px" /></td>
							<td><img src="" width="150px" height="150px" /></td>
						</tr>
						<tr class="product-price">
							<td></td>
							<td></td>
						</tr>
						<tr class="product-ratings">
							<td></td>
							<td></td>
						</tr>
						<tr class="product-likes">
							<td></td>
							<td></td>
						</tr>
						<tr class="product-description">
							<td></td>
							<td></td>
						</tr>
					</table>
					<table class="compare-3 table-bordered">
						<tr class="product-name">
							<th></th>
							<th></th>
							<th></th>
						</tr>
						<tr class="product-pic">
							<td><img src="" width="150px" height="150px" /></td>
							<td><img src="" width="150px" height="150px" /></td>
							<td><img src="" width="150px" height="150px" /></td>
						</tr>
						<tr class="product-price">
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr class="product-ratings">
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr class="product-likes">
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr class="product-description">
							<td></td>
							<td></td>
							<td></td>
						</tr>
					</table>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
