
<div class="row">
	<div class="col-sm-3">
		<h3>Search: </h3>
	</div>
	
	<div class="col-sm-7 view-section-details">

		<h3>
			<%= form_tag products_path, :method => :get do %>
				<div class="input-group ui-widget">
				  <%= text_field_tag :search, params[:search], :class => "form-control", :id =>  "search-results-text" %>
				  <span class="input-group-btn">
				  	<button type="submit" class="button postfix btn btn-default" id="btn-search-product"><span class="glyphicon glyphicon-search"></span></button>
				  </span>
				</div>
			<% end %>
		</h3>
	</div>
	<div class="col-sm-2 view-section-details">
		<h3 class="pull-right"><%= link_to 'New Product', new_product_path, :class => 'button btn btn-primary' %></h3>
	</div>
</div>

<div class="row">
	<div class="col-sm-3">
		<h3>Price Range ($): </h3>
	</div>
	
	<div class="col-sm-7 view-section-details">
		<h3>
			<ul class="pagination" style="margin-top: 0;">
    			<% for row in @query.facet(:price).rows %>
				    <li>
				        <%= link_to row.value, :price_range => row.value, :search => params[:search] %>
				    </li>
				<% end %>
			</ul>
		</h3>
	</div>
</div>

<% if @products.empty? %>
    <div class="row view-section">
		<div class="col-sm-12">
			No products found. Please change search criteria and try again.
		</div>
	</div>
<% else %>
	<% @products.each do |product| %>
		<div class="row view-section">
			<div class="col-sm-3">
				<%= image_tag product.photo_file_name, size:"200x200" %>
			</div>
			<div class="col-sm-9 view-section-details">
				<h3><%= link_to product.name, product %></h3>
				<p class="text-danger"><strong><%= number_to_currency(product.price) %></strong></p>
				<p class="text-muted"><%= product.description %></p>
			</div>
		</div>
	<% end %>
	<div class="row view-section text-center">
		<%= will_paginate(@products) %>
	</div>
<% end %>