<br />

<p id="notice"><%= notice %></p>

<p>
  <%= image_tag @product.photo_file_name, size:"200x200" %>
</p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>


			  <% if !current_user.find_product(@product.id) %>
				  <%= link_to 'Like', favorites_path(product_id: @product), method: 'post'%>
			  <% else %>
				  <%= link_to 'Remove like', favorite_path(current_user.like_product(@product.id)), method: 'delete'%>
			  <% end %>
			  &nbsp;(<%= @product.favorites.count %> likes)&nbsp;|&nbsp;
			  <%= link_to 'Add to Cart', line_items_path(product_id: @product), method: 'post'%>

			  <br />
			  <%= link_to 'Edit', edit_product_path(@product) %> | <%= link_to 'Back', products_path %>
			  <br>
			  <%= link_to 'See my Favorites', @current_user %>
